<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7217d814-467e-43df-92ba-9b395efcb8cb/resourcegroups/StudentEducationBoardServiceApi20200504194649ResourceGroup/providers/Microsoft.Web/sites/StudentEducationBoardServiceApi20200504194649</ResourceId>
    <ResourceGroup>StudentEducationBoardServiceApi20200504194649ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://studenteducationboardserviceapi20200504194649.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <ProjectGuid>17dc7615-1139-4c3d-8e40-bbe184b8d1b4</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>studenteducationboardserviceapi20200504194649.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StudentEducationBoardServiceApi20200504194649</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StudentEducationBoardServiceApi20200504194649</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>